.fullScreen {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scrollBox {
  max-height: 25vh;
  overflow: auto;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}